# Used by EditorConfig vs plugin
# VS Plugin  https://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328
# Properties http://editorconfig.org/#supported-properties
# Source     https://github.com/editorconfig/editorconfig-visualstudio

; Top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = crlf

; 2-column space/tab indentation
[*.cs]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.xml]
indent_style = space
indent_size = 2
